.Home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 18% 31% auto;
}
.Home__sidebar {
  height: 100%;
  background-color: var(--sidebar_background);
}
.Home__emails {
  height: 100%;
  background-color: var(--email_background);
}
.Home__readEmail {
  height: 100%;
  background-color: white;
}
