* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --sidebar_background: #f5f8fa;
  --email_background: #f6f7f2;
  --light_skyblue: #27b8ec;
  --light_gray: #adadad;
  --sexy_black: #3b3637;
  --sexy_red: #ff5f5f;
  --sexy_blue: #091353;
}

/* font-family: 'EB Garamond', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif; */
